header{
background: #EEEFF1;
    height: 583px;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
   float: left;
    margin-top: 57px;
    margin-left: 60px;
    font-size: 96px;
   
}
.menu{
    font-size: 26.25px;
    line-height: 26.25px;
    margin-left: 430px;
}
.menu li{
    float:left;
    line-height: 60px;
    padding-left: 40px; 
    text-transform: uppercase;
    list-style: none;
    color: black;
}  
.textmain{
    float: inherit;
    display: flex;
    text-align: center;
}
    
}
.main{
}
